input_image/1/train1.jpeg
input_image/1/train2.jpeg
input_image/1/train3.jpeg
input_image/1/train4.jpeg
input_image/1/train5.jpeg
input_image/1/train6.jpeg
input_image/1/train7.jpeg
input_image/1/train8.jpeg
input_image/1/train9.jpeg
input_image/1/train10.jpeg
input_image/1/train11.jpeg
input_image/1/train12.jpeg
input_image/1/train13.jpeg
input_image/1/train14.jpeg
input_image/1/train15.jpeg
input_image/1/train16.jpeg
input_image/1/train17.jpeg
input_image/1/train18.jpeg
input_image/1/train19.jpeg
input_image/1/train20.jpeg

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local